* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  align-items: center;
  position: relative;
  height: 10vh !important;
  max-height: 10vh;
  min-height: 10vh;
}

header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 1vh auto;
  text-align: center;
}

nav,
nav:hover {
  margin: 1vh 2vw;
  text-align: left;
  cursor: pointer;
}

nav a {
  margin: 0 1vw;
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  transition: color 0.3s ease;
}

nav a:hover {
  color: darkgray;
  transition: color 0.3s ease;
}

span {
  color: lightgray;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 2vh 0;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#intro {
  margin-top: 7vh;
}

#intro h1 {
  font-size: 7vh;
  margin-bottom: 1vh;
}

#intro-paragraph {
  font-size: 18px;
  margin-bottom: 4vh;
}

figure {
  border-bottom: 0.4vh solid lightgray;
  padding-bottom: 10vh;
  margin-bottom: 10vh;
}

figure p {
  text-align: left;
  font-size: 15px;
  margin-bottom: 1.4vh;
}

em {
  font-weight: 500;
}

figure img {
  width: 80vw;
  height: 80vh;
}

article {
  max-width: 60vw;
  margin-bottom: 10vh;
}

.pasta-type {
  width: 45vw;
  height: 45vh;
  object-fit: cover;
  margin-bottom: 2vh;
  margin-top: 1.4vh;
}

article h2 {
  color: rgb(61, 61, 61);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

article p {
  text-align: left;
  margin-bottom: 1vh;
}

@media screen and (max-width: 950px) {
  .header-container {
    flex-direction: column-reverse;
  }

  header {
    font-size: 3vw;
    margin-bottom: 35px;
  }

  nav a {
    font-size: 4.5vw;
    margin: 10px 30px;
  }

  #intro h1 {
    font-size: 8vw;
  }

  figure img {
    width: 100vw;
    height: auto;
  }

  article {
    max-width: 90vw;
  }

  .pasta-type {
    width: 70vw;
    height: 30vh;
  }
}
